<div class="container">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12">
        <div class="container text-center nes-container is-rounded m-5" style="background-color: white">
            <h1>Welcome to Nottingham</h1>
        </div>
    </div>
</div>