<div class="container">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12">
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <h1>Welcome to Nottingham</h1>
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <h6>Nottingham is an online stock trading website that provides a user-friendly platform for investors to buy and sell stocks.</h6> 
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <ul>
                <li>
                    Click <span class="nes-text is-primary">Watchlist</span> to view/delete/add stocks.
                </li>
            </ul>
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <ul>
                <li>
                    Click <span class="nes-text is-error">Portfolio</span> to check how your stocks are performing, and your account balance. 
                </li>
            </ul>
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <ul>
                <li>
                    Enter a stock ticker into the Search bar and click <span class="nes-text is-warning">Search</span> to get information on that stock.
                </li>
            </ul>
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <ul>
                <li>
                    Click <span class="nes-text is-warning">Logout</span> to sign out of your account.
                </li>
            </ul>
        </div>
        <div class="container text-center nes-container is-rounded m-3" style="background-color: white">
            <ul>
                <li>
                    To get return to this page click <span class="nes-text is-success">Dashboard</span> to come back.
                </li>
            </ul>
        </div>
    </div>
</div>
