<form class="form text-center m-5">
  <h1>Welcome to Nottingham</h1>
  <img
    src="./images/NOTTINGHAM-LOGO.png"
    alt="nottingham logo"
    class="logo m-5"
  />

  <h5>description description description description</h5>

  <div class="nes-text content m-2 p-2">

    <div class="nes-field m-3">
  <label for="name_field" class="nes-text is-primary">Email</label>
  <input type="text" id="login-email" class="nes-input">
</div>


     <div class="nes-field m-3">
  <label for="name_field" class="nes-text is-primary">Password</label>
  <input type="password" id="login-password" class="nes-input">
</div>

    <a class="m-3">
      <button type="button" class="nes-btn is-success login-form">Login</button>
    </a>

  </div>
  <div class="login-form text-center">
  <a type="button" class="nes-btn is-primary" href="/signup">Sign Up</a>
</div>

</form>


<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-body nes-container is-rounded nes-text is-error text-center">
        Email or Password are incorrect. Please try again.
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>