<div class="login">
    <div class="large-brand">
        Nottingham
    </div>
    {{#each watchlist as |stock|}}
    <div class="card">
        <div class="card-header">{{stock.name}}</div>
        <div class="card-body">{{stock.price}}</div>
    </div>
    {{/each}}
</div>

<h1 class="pageTitle">TEST LOGIN PAGE</h1>

<form class="login-form registrationForm">
    <h2>Login</h2>
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" id="email-login"/>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password-login"/>
        
    <button type="submit">Login</button>   
  </div>  
</form>

<form class="signup-form registrationForm">
  <h2>Sign Up</h2>
  <div class="container">
    <label for="name-signup"><b>Enter Your Name</b></label>
    <input type="text" placeholder="Enter your name" id="name-signup"/>

    <label for="uname"><b>Enter New Username</b></label>
    <input type="text" placeholder="Enter Email" id="email-signup"/>

    <label for="psw"><b>Enter New Password</b></label>
    <input type="password" placeholder="Create Password" id="password-signup"/>

    <button type="submit">Sign Up</button>    
  </div>
</form>

<script src="./js/login.js"></script>