 <div class="text-center p-5">
  <h1>Welcome to Nottingham</h1>
  </div>
  <div class="text-center">
  <img src="./images/NOTTINGHAM-LOGO.png" alt="nottingham logo" class="logo m-5 "/>
  </div>
  
  <div class="m-1 d-flex justify-content-center align-items-center m-5">
<form class="form text-center m-2 nes-container is-rounded" style="background-color: lightgrey">
  <div class="nes-text content m-2 p-2">

    
      <div class="nes-field m-2">
        <label for="name_field" class="nes-text is-primary">Email</label>
        <input type="text" id="login-email" class="nes-input" style="width: 400px;">
      </div>
    
    
   
      <div class="nes-field m-2">
        <label for="name_field" class="nes-text is-primary">Password</label>
        <input type="password" id="login-password" class="nes-input" style="width: 400px;">
      </div>
    
   
    <a class="m-3">
      <button type="button" class="nes-btn is-success login-form m-4">Login</button>
    </a>

    
    <div class="login-form m-1">
      <a type="button" class="nes-btn is-primary" href="/signup">Sign Up</a>
    </div>
 
</form>
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-body nes-container is-rounded nes-text is-error text-center">
        Email or Password are incorrect. Please try again.
      </div>
    </div>
  </div>
</div>
</div>
 
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-body nes-container is-rounded nes-text is-error text-center">
        Email or Password are incorrect. Please try again.
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>