<div class ="container text-left">
    <div class="row align-items-end">
        <div>
            <container class="col-2 align-self-end max-width">
                <h3>
                    {{tickerName}}
                </h3>
                <h3>
                    {{tickerCurrent}}
                </h3>
                <p>Open:
                    {{tickerOpenPrice}}
                    {{tickerChange}}
                </p>
            </container>
            <container class="col-8 max-width"></container>
            <container class="col-2 max-width">
                <button type="button" class="nes-btn is-success" id="addToWatch myBtn">Watch</button>
                <button type="button" class="nes-btn is-success d-none" id="removeToWatch">Unwatch</button>

{{!-- -------test data for modal------------------ --}}
{{!-- <button class="trigger">Click here to trigger the modal!</button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h1>Hello, I am a modal!</h1>
    </div>
</div>
                 --}}

            </container>
        </div>
    </div>
</div> 