<div class="container">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12">
        <div class="container text-center nes-container is-rounded m-5" style="background-color: white">
            <h1>Searched Stock</h1>
        </div>
        
        
    
    <div class="row align-items-end container text-center nes-container is-rounded m-5" style="background-color: white">
        <div>
            <container class="col-2 align-self-end max-width">
                <h3>
                    {{tickerOpen.name}}
                </h3>
                <h3>
                    {{tickerCurrent}}
                </h3>
                <p>Open:
                    {{tickerOpenPrice}}
                    {{tickerChange}}
                </p>
            </container>
            <container class="col-8 max-width"></container>
            <container class="col-2 max-width"></container>
        </div>
    </div>
</div> 
    </div>

</div>

