<div class ="container text-left">
    <div class="row align-items-end">
        <div>
            <container class="col-2 align-self-end max-width">
                <h3>
                    {{tickerName}}
                </h3>
                <h3>
                    {{tickerCurrent}}
                </h3>
                <p>Open:
                    {{tickerOpenPrice}}
                    {{tickerChange}}
                </p>
            </container>
            <container class="col-8 max-width"></container>
            <container class="col-2 max-width">
                <button type="button" class="btn" id="addToWatch">Watch</button>
                <button type="button" class="btn d-none" id="removeToWatch">Unwatch</button>
            </container>
        </div>
    </div>
</div> 