<form class="form text-center m-5">
  <h2>Sign Up</h2>
  <div class="nes-text content m-5 p-5">

    <div class="nes-field m-3">
  <label for="name_field" class="nes-text is-primary">Enter your name</label>
  <input type="text" id="signup-name" class="nes-input">
</div>


    <div class="nes-field m-3">
  <label for="name_field" class="nes-text is-primary">Enter Email</label>
  <input type="text" id="signup-email" class="nes-input">
</div>


     <div class="nes-field m-3">
  <label for="name_field" class="nes-text is-primary">Enter Password</label>
  <input type="password" id="signup-password" class="nes-input">



   <div  class="m-5"><a>
      <button type="button" class="nes-btn is-success signup-form">Sign Up</button>
    </a>
</div>
    
  </div>
</form>

 <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-body nes-container is-rounded nes-text is-error text-center">
        Please enter a valid email/password
      </div>
      </div>
    </div>
  </div>

<script src="./js/signup.js"></script>