<h1 class="pageTitle">SIGNUP</h1>

<form class="form signup-form">
  <h2>Sign Up</h2>
  <div class="container">
    <label for="signup-name"><b>Enter Your Name</b></label>
    <input type="text" placeholder="Enter your name" id="signup-name"/>

    <label for="eMail"><b>Enter New Email</b></label>
    <input type="text" placeholder="Enter Email" id="signup-email"/>

    <label for="passWord"><b>Enter New Password</b></label>
    <input type="password" placeholder="Create Password" id="signup-password"/>

    <button type="submit">Sign Up</button>    
  </div>
</form>

<script src="./js/signup.js"></script>